:root {
  --background: #ffffff;
  --foreground: #171717;
  --layer-1-bg: #f9f9f9;

  --shadow: rgba(0, 0, 0, 0.1);
  --interactive-hover: #e1e1e1;
  --cta: #08680f;
  --cta-hover: #052907;
  --outline: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --layer-1-bg: #171717;

    --shadow: rgba(255, 255, 255, 0.1);
    --interactive-hover: #3c3c3c;
    --cta: #c3ffc7;
    --cta-hover: #052907;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noscroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}
a[aria-disabled='true'] {
  text-decoration-style: dashed;
  cursor: not-allowed;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--outline);
  outline-offset: 2px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Elements, using e (element) prefix */
.e-avatar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 10px;
  object-fit: cover;
  background-color: var(--background);
  border: 1px solid var(--foreground);
  box-shadow: 2px 3px 8px 0px var(--shadow);
}

.e-button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--background);
  color: var(--cta);
  border: 1px solid var(--cta);
  box-shadow: 2px 3px 8px 0px var(--shadow);
  font-weight: bold;
  text-align: left;

  &:hover {
    background-color: var(--interactive-hover);
    box-shadow: 0px 0px 0px 2px var(--shadow);
  }
}

/* Utilities */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

/* Layout */
.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.align-end {
  align-self: flex-end;
}

.mb-1 {
  margin-bottom: 2px;
}
.mb-2 {
  margin-bottom: 4px;
}
.mb-3 {
  margin-bottom: 8px;
}
.mb-4 {
  margin-bottom: 16px;
}
