.card {
  border: 1px solid grey;
}

.userCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--layer-1-bg);
  border-radius: 8px;
}

/* Layout for avatar */
.avatarRow {
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.fullAvatar {
  width: 9rem;
  height: 9rem;
  margin: 1rem 0;
  border-radius: 8px;
}

.gridCard {
  height: 100%;
}

.list {
  list-style: '';
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
}
