.card {
  border: 1px solid grey;
}

.userCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.popover {
  margin: auto;
  width: calc(100dvw - 20px);
  max-width: 600px;
}
.popover:popover-open::backdrop {
  background-color: var(--foreground);
  opacity: 0.7;
}

/* Layout for avatar */
.avatarRow {
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.fullAvatar {
  width: 9rem;
  height: 9rem;
  border-radius: 8px;
}

.gridCard {
  height: 100%;
}

.list {
  list-style: '';
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
}
