.dialog {
  width: 100dvw;
  height: 100dvh;
  max-height: none;
  max-width: none;
  background: transparent;
  margin: auto;
  padding: 0;
  border: 0;
  overflow-y: auto;
}

.dialog > div {
  position: relative;
  width: calc(100dvw - 20px);
  margin: 1rem auto;
  padding: 20px;
  border-radius: 12px;
  background: var(--background);
  border: 3px solid var(--foreground);
  max-width: 600px;
}
.dialog:popover-open::backdrop {
  background-color: var(--foreground);
  opacity: 0.7;
}

.dialogClose {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--foreground);
  background: var(--background);
  border: 2px solid var(--foreground);
  font-size: 1.25rem;
  padding: 0.25rem;
  align-items: center;

  &::before {
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xNy40MTQgMTZMMjQgOS40MTRMMjIuNTg2IDhMMTYgMTQuNTg2TDkuNDE0IDhMOCA5LjQxNEwxNC41ODYgMTZMOCAyMi41ODZMOS40MTQgMjRMMTYgMTcuNDE0TDIyLjU4NiAyNEwyNCAyMi41ODZ6Ii8+PC9zdmc+');
    line-height: 0;
  }
  &:hover {
    background-color: var(--interactive-hover);
  }
}
