.dialog {
  width: 100dvw;
  height: 100dvh;
  max-height: none;
  max-width: none;
  background: transparent;
  margin: auto;
  padding: 0;
  border: 0;
  overflow-y: auto;
}

.dialog > div {
  position: relative;
  width: calc(100dvw - 20px);
  margin: 1rem auto;
  padding: 20px;
  border-radius: 12px;
  background: var(--background);
  border: 3px solid var(--foreground);
  max-width: 600px;
}
.dialog:popover-open::backdrop {
  background-color: var(--foreground);
  opacity: 0.7;
}

.dialogClose {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--foreground);
  font-size: 1.5rem;
}
